body{
    background: url('../images/background.jpg');
    background-repeat: vertical;
    background-size: 100% 100% contain;
}

hr {
    border: 5px solid white;
}

p {
    color: white;
    margin-top: -5%;
}

.allKnowteDiv {
    margin-top: 7%;
}

.icon{
    width: 3%;
    margin-top: 5.5%;
    float: left;
}

.navHeader {
    margin-top: 5.5%;
    margin-right: 81%;
    font-size: 2em;
    color: white;
}

.login{
    margin-top: -9.6%;
    margin-left: 85%;
}

.signUp{
    margin-top: -6%;
    margin-left: 70%;
}

.uname{
    width: 80%;
    margin-left: 10%;
}

.pword{
    width: 80%;
    margin-left: 10%;
}

.Modal {    
    font-size: .8em;
    background-color: #333;
    margin-top: 200px;
    width: 40%;
    margin-left: 390px;
    height: 45%;
    text-align: center;
}

.xBtn {
    font-size: 2em;
    margin-left: 480px;
}

.invalidLoginMsg {
    color: white;
    font-size: 1.2em;
    margin-top: 8px;
}

.closeBtn {
    background-color: red;
}

.closeBtnLbl {
    background-color: red;
}

.commentsDiv {
    text-align: justify;
    border: 2px solid white;
    color: white;
    padding: 2%;
    border-radius: 6px 6px 6px 6px;
    margin-left: 5px;
}

.editBtn {
    color: yellow;
    position: static;
}

@media screen and (max-width: 1024px) {
    .signUp{
        margin-left:75%
    }
}

@media screen and (max-width: 768px) {
    .signUp{
        margin-left:68%
    }
}

@media screen and (max-width: 414px) {
    .signUp{
        margin-left:40%
    }
}

@media screen and (max-width: 320px) {
    .signUp{
        margin-left:30%
    }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: -11.5%;
    width: 100%;
    height: 20%;
    position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}